body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 12vh 100px;
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-weight: 300;
    color: #333;
    box-sizing: border-box;
}
.timeline {
    width:100%;
    max-width:800px;
    background:#fff;
    padding: 100px 50px;
    position: relative;
    border-radius: 10px;
}
.sidebar {
    height:138%;
}
img {
    width:140px;
    height:140px;
    padding: 5px;
}
.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}
