body {
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-size: 32px;
    color: #084360;
}
video  {
    width: 40%;
    height: 40%;
    margin: 0 auto;
    display: block;
}
h1 {
    text-align: center;
}